<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>数据信息</title>

	{include file="public:head" /}

	<style>
		.layuiadmin-big-font { font-size: 2em; padding: 10px 0; }
		.layui-card-header .layuiadmin-badge { position: absolute; top: 11px; right: 15px; }
	</style>
</head>
<body>
	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
			<!-- 访问量统计 -->
			{foreach $data as $key => $vo}
			<div class="layui-col-sm6 layui-col-md3">
				<div class="layui-card">
					<div class="layui-card-header">
			            人流量
			        	<span class="layui-badge {$vo.class} layuiadmin-badge">{$vo.name}</span>
			        </div>
			        <div class="layui-card-body layuiadmin-card-list">
			            <p class="layuiadmin-big-font">{$vo.data}</p>
		            </div>
				</div>
			</div>
			{/foreach}

			<!-- 访问量曲线图统计 -->
			<div class="layui-col-sm12">
				<div class="layui-card">
					<div class="layui-card-body">
						<div class="layui-row">
							<!-- 内容 -->
							<div class="layui-form-item layui-form">
							    <label class="layui-form-label">流量搜索</label>
							    <div class="layui-input-block">
							      <select name="flow" lay-filter="flow">
							        <option value="0">访问量搜索</option>
							        <option value="1">人流量搜索</option>
							      </select>
							    </div>
							</div>
							<table id="table" lay-filter="table"}"></table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- 图表 -->
<script>
	layui.use(['table', 'form'], function() {
		var table = layui.table;
		var form  = layui.form;

		var tableIns = table.render({
			elem: "#table",
			url: "{:url('datainfo')}",
			page: true,
			done: function(res) {
			},
			cols: [[
				{field: 'id', title: 'ID', width: 80, align: 'center'},
				{field: 'browse_ip', title: '浏览人IP', width: 160, align: 'center', sort: true},
				{field: 'stop_time', title: '停留时间', width: 180, align: 'center'},
				{field: 'create_time', title: '访问时间', width: 180, align: 'center'},
			]]
		});

		// 流量搜索
		form.on('select(flow)', function(data) {
			tableIns.reload({
				where: {
					flow: data.value
				},
				url: '{:url("datainfosearch")}',
				page: { curr: 1 }
			})
		})
	}); 
</script>
<!-- 图表结束 -->
</body>
</html>