<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>主页</title>

	{include file="public:head" /}

	{load href="/public/static/plug-in/chart/highcharts.js" /}
	{load href="/public/static/plug-in/chart/exporting.js" /}
	
	<style>
		.layuiadmin-big-font { font-size: 2em; padding: 10px 0; }
		.layui-card-header .layuiadmin-badge { position: absolute; top: 11px; right: 15px; }
	</style>
</head>
<body>
	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
			<!-- 访问量统计 -->
			{foreach $data as $key => $vo}
			<div class="layui-col-sm6 layui-col-md3">
				<div class="layui-card">
					<div class="layui-card-header">
			            访问量
			        	<span class="layui-badge {$vo.class} layuiadmin-badge">{$vo.name}</span>
			        </div>
			        <div class="layui-card-body layuiadmin-card-list">
			            <p class="layuiadmin-big-font">{$vo.data}</p>
		            </div>
				</div>
			</div>
			{/foreach}

			<!-- 访问量曲线图统计 -->
			<div class="layui-col-sm12">
				<div class="layui-card">
					<div class="layui-card-header">访问量统计</div>
					<div class="layui-card-body">
						<div class="layui-row">
							<div id="chart" class="border"><svg height=225></svg></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 图表 -->
	<script>
		// 请求图表数据
		$.get('{:url("index/yearstatis")}', function(res) {
			drawimg(res)
		})

		// 绘制图表
		var drawimg = function(res) {
			$('#chart').highcharts({
				charts: {},
				title: {
					text: ''
				},
				xAxis: {
					categories: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月', ]
				},
				tooltips: {
					formatter: function() {
						var s;
						if (this.point.name) { // the pie chart                   
		                    s = ''+                                               
		                        this.point.name +': '+ this.y +' fruits';         
		                } else {                                                  
		                    s = ''+                                               
		                        this.x  +': '+ this.y;                            
		                }                                                         
		                return s;  
					}
				},
				labels: {
					items: [{
						html: res.year + '年访问量统计',
						style: {
							left: '40px',
							top: '10px',
							color: 'black'
						}
					}]
				},
				series: [{
					type: 'spline',                                               
		            name: '访问量',                                              
		            data: res.month,                               
		            marker: {                                                     
		            	lineWidth: 2,                                               
		            	lineColor: Highcharts.getOptions().colors[3],               
		            	fillColor: 'white'                                          
		            }   
				}]
			})
		}
	</script>
	<!-- 图表结束 -->
</body>
</html>