{extend name="public:base" /}

{block name="content"}
<style>
    .column:last-child:not(:first-child), .columns:last-child:not(:first-child) { float: left; }

    #premium { max-width: 75rem; margin: 14px auto; }
    #premium .heading { padding: 14px 0; }
    
    /* 重写布局 */
    .secBg { border: 0; }
    .content>.secBg {  margin-top: 20px; }
    .content .main-heading { border-bottom: 1px solid #ececec; }
    .content .main-heading .tabs li.tabs-title:last-of-type a { width: 50px; }
</style>

<!-- 推荐 -->
<div id="home" v-cloak>
<section id="premium" class="content">
    <div>1</div>
</section>
</div>
<!-- End main content -->

<!-- js -->
<script>
    var homevm = new Vue({
        el: '#home',
        data: {
        },
        created: function() {
        },
        methods: {
            // 是移动端
            isMobile: function() {
                if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
                    return true
                }

                return false
            },

            // 过滤html标签
            filterHTML: function(msg) {
                var msg = msg.replace(/<\/?[^>]*>/g, ''); //去除HTML Tag
                msg = msg.replace(/[|]*\n/, '') //去除行尾空格
                msg = msg.replace(/&npsp;/ig, ''); //去掉npsp
                return msg;
            },
        }
    })
</script>
{/block}