{extend name="public:base" /}

{block name="content"}
<style>
    #premium { max-width: 75rem; margin: 14px auto; }
    
    /* 重写布局 */
    .content>div { text-align: center; margin: 10px; margin-bottom: 40px; }
    .content .lottery h3>span { color: red; }
    .content .lottery>.number>span { background: red; color: white; width: 40px; height: 40px; display: inline-block; border-radius: 50%; line-height: 40px; }
    .content .plan>h3, .content .day-plan>h3 { color: blue; }
    .content .plan>.number { color: red; }
</style>

<!-- 推荐 -->
<div id="home" v-cloak>
<section id="premium" class="content">
    <div class="lottery">
        <h3>江苏快3 <span>第001期</span> 开奖号码</h3>
        <h3 class="number">
            <span>5</span>
            <span>4</span>
            <span>6</span>
        </h3>
    </div>
    <div class="plan">
        <h3>默默导师开奖计划</h3>
        <h3 class="number">第021期 开奖 【大】 等开</h3>
        <p style="margin-bottom: 5px">网页自动更新计划，用户无需手动刷新！</p>
        <p>提醒：和值10以上为大</p>
    </div>
    <div class="day-plan">
        <h3>当日计划表</h3>
        <h4>【默默】第003期 计划 【大】 中</h4>
        <h4>【默默】第002期 计划 【大】 中</h4>
        <h4>【默默】第001期 计划 【大】 中</h4>
    </div>
</section>
</div>
<!-- End main content -->

<!-- js -->
<script>
    var homevm = new Vue({
        el: '#home',
        data: {
        },
        created: function() {
        },
        methods: {
            // 是移动端
            isMobile: function() {
                if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
                    return true
                }

                return false
            },

            // 过滤html标签
            filterHTML: function(msg) {
                var msg = msg.replace(/<\/?[^>]*>/g, ''); //去除HTML Tag
                msg = msg.replace(/[|]*\n/, '') //去除行尾空格
                msg = msg.replace(/&npsp;/ig, ''); //去掉npsp
                return msg;
            },
        }
    })
</script>
{/block}