<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />

<!-- 加载css -->
{load href="/public/static/index/css/font-awesome.min.css" /}
{load href="/public/static/index/css/app.css" /}
{load href="/public/static/index/css/theme.css" /}
{load href="/public/static/index/css/googleapis.css" /}
{load href="/public/static/index/layerslider/css/layerslider.css" /}
{load href="/public/static/index/css/owl.carousel.min.css" /}
{load href="/public/static/index/css/owl.theme.default.min.css" /}
{load href="/public/static/index/css/responsive.css" /}
{load href="/public/static/js/jquery-3.3.1.min.js" /}
{load href="/public/static/js/vue.min.js" /}

<style>
.content .list-group .item { height: 280px; }
.sticky-container { height: 80px; }
[v-cloak] { display: none; }
@media screen and (max-width: 1000px) {
	.content .post:hover .video-stats {
		transform: translateY(0); 
	}
	.content .post:hover a.hover-posts {
		visibility: visible;
		transform: scale(0); 
	}
	.content .list-group .item {
		margin-bottom: 10px;
	}
	.content .list-group .item:nth-last-child(1) {
		margin-bottom: 30px;
	}
	.content .list-group .item:nth-child(1) {
		margin-top: -10px;
	}
	.content .list-group .item {
		height: auto;
	}
	.sticky-container { height: 45px; }
}
</style>

